.banner{
    width: 70%;
    height: 170px;
    border: 1px solid black;
    margin: auto;
    background-size: 100% 100%;
    padding-right: 150px;
    animation: frecuencia 15s infinite;
    animation-direction: alternate;
}

@keyframes frecuencia{
    0%, 15%{
        background-image: url(../img/banner1.jpg);
    }
    16%, 18%{
        opacity: 1;
    }
    19%, 30%{
        background-image: url(../img/banner2.jpg);
        opacity: 1;
    }
    31%, 50%{
        background-image: url(../img/banner3.jpg);
    }
    51%, 70%{
        background-image: url(../img/banner4.jpg);
    }
    71%, 75%{
        opacity: 0.1;
    }
    76%, 100%{
        opacity: 1;
        background-image: url(../img/banner5.jpg);
    }
}