p{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 5%;
    padding-right: 5%;
}

.main .articles{
    width:68.5%;
    float: left;
    background: #ffffff;
    margin-right: 1.5;
}

.main .articles article{
    padding: 20px;
    margin-bottom: 20px;
    padding-left: 170px;
    text-align: center;
}

.main .datos{
    width:80%;
    float: left;
    background: #ffffff;
}

.main .datos article{
    padding: 20px;
    background: #ffffff;
    margin-bottom: 20px;
    padding-left: 220px;
    text-align: center;
    background-color: #ffffff;
}

aside{
    width: 30%;
    float: left;
    box-sizing: border-box;
    border-color: #6e667a;
}

aside img{
    width: 90%;
    float: left;
    padding: 20px;
    box-sizing: border-box;

}

aside video{
    width: 350px;
    float: left;
    padding: 20px;
}


footer{
    color: black;
    clear: both;
    padding: 10px 0px;
    text-align: center;
    position: relative;
}
.contenedor{
    width: 100%;
    padding-left: 10px;
}

.contenedor .carta{
    width: 25%;
    height: 10%;
}
.contenedor .carta img{
    width: 280px;
    height: 240px;
    padding-left: 70px;
}

.contenedor .carta img:hover{
    transform: scale(1.5);
}

.format_table td{
        border: 1px solid   #c21a92 ;
}

.format_img img{
    width: 250px;
    height: 150px;
}

.shadow_table td{
    border: 1px solid   #c21a92 ;
    box-shadow: 6px 6px 6px black;
}
