form fieldset{
    border:1px solid   #76f400;
    width:470px;
    height: 230px;
    margin:auto;
}
form legend{
    font-weight:bold;
    font-size:12px;
}
form ol{
    list-style:none;
}
form ol li{
    padding-bottom:10px;
    font-size: 15px;
    padding-left: 10px;
}
form ol li label{
    width:120px;
    float:left;
    text-align:left;
}
form input {
    border:1px solid #CCCCCC;
}
form input.btn {
    padding:3px;
    color:black;
    background-color:#aafc5d;
    border:1px solid #000000;
}
.botones{
    text-align: center;
}