*{
    margin: 0;
    padding: 0;
    font-size: 10;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    padding-top: 0px;
    width: 270px;
    height: 170px;
    padding-right:90%;
}

#ventana{ color: #1D64A6;}

header main footer{
    max-width: 1000px;
    background: #ffffff;
    margin: auto;
    position: relative;
}
footer{
    color: black;
}
