header nav ul li a:link {
  color: #6f35f4  ;
  text-decoration: none;
}

header{
    background-color: #fcd258 ;
    border-bottom-color: black;
}

header nav ul li a:active {
  background: orange;
  box-shadow: none;
}

header nav ul li a:visited {
  color: #6f35f4 ;
}

header nav ul li a:hover {
  background-color: dimgrey;
  color: aqua;
} 

* {
  margin: 0px;
  padding: 0px;
}

header nav ul li  {
  margin: auto;
  width: 170px;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  position:relative;
  float: left;
  margin-left: 100px;

}
