h1{
    font-family: cursive;
    color: #6565fe;
    text-align: center;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  #da35f4;
    text-align: center;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  #da35f4;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: none;
}

h3 a:link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  #da35f4;
    text-align: center;
    text-decoration: none;
}

h3 a:visited{
    color:  #da35f4;
}